<% provide(:title, "Wizyta Lekarska,") %>

<div class="container">
<h1>
	Wizyta lekarska
</h1>

<h3>	Nazwisko Lekarza: <%= @badanie.lekarz.imie %> <%= @badanie.lekarz.nazwisko %>  
<h3>

<h3>
	Nazwisko Pacjenta:
<% if @badanie.pacjent.present? %>
	 <%= @badanie.pacjent.imie %> <%= @badanie.pacjent.nazwisko %>  
<% end %>
<h3>	

<h3>
	Specjalizacja: <%= @badanie.specjalizacja.nazwa_specjalizacji %>
<h3>

<h3>
	Data Badania: <%= @badanie.data %>, godz: <%= @badanie.godzina %>:00 
</h3>



</div>