<% provide(:title, 'Utwórz nową specjalizacje') %>
<h1>Dodaj nową specjalizacje</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= form_for(@specjalizacja) do |f| %>
	 <%= render 'shared/error_messages_specjalizacja' %>
      <%= f.label :nazwa_specjalizacji  %><br>
      <%= f.text_field :nazwa_specjalizacji, class: "form-control" %><br>


      <%= f.submit "Zapisz dane", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>