console.log("test");

// $("#"+"<%= @specjalizacja.nazwa_specjalizacji %>").after("<ul>"
// 	+'<% @specjalizacja.lekarzs.each do |lekarz| %>'
// 	+"<li>"+"<%= lekarz.imie %>"+" "+ "<%= lekarz.nazwisko %>" +"</li>"+"</br>"
// 	+'<% end %>'
// 	+"</ul>");
console.log("<%= @specjalizacja.nazwa_specjalizacji %>")

//element ktory pokazuje lekarzy danej specjalizacji
buttons_lekarzy ="<ul>"
	+'<% @specjalizacja.lekarzs.each do |lekarz| %>'
	+"<il>"
    +'<%= submit_tag(lekarz.imie+' '+lekarz.nazwisko, class: " btn btn-primary  btn-block") %>'
    +"</il>"
	+'<% end %>'
	+"</ul>"

//Wyczysc html zawiarajace spis lekarzy
$(".przycisk_lekarza").next().html("");

//wyswietl lekarzy danej specjalizacji
$("#"+"<%= @specjalizacja.nazwa_specjalizacji %>").next().html(buttons_lekarzy);	
// $("#test_pisanie").html(buttons_lekarzy);
// $("#test_pisanie").html('<%= @lekarze %>');


////////////////////////////////
//Oblsuga kalendarza
//////////////////////////////

console.log("kalendarza");
// var  pierwszyDzienKalendarza = $("#pierwszyDzienKalendarza").text() ;
// console.log(pierwszyDzienKalendarza);

//funkcja odpowiada za pobranie danych ktore ustawiaja pierwszy dzien kalendarza

function kalendarz() {
}

function pierwszyDzienKalendarza() {
	return $("#pierwszyDzienKalendarza").text();
}

pierwszyDzienKalendarza.UstawDzien = function(nowaData) {
	$("#pierwszyDzienKalendarza").text( nowaData );
}

kalendarz.prototype.pierwszyDzienKalendarza = pierwszyDzienKalendarza

//Konwertuje data z formatu ruby (2016-01-17) na date w formacie JS
function rubyDataIntoJS(data) {
	dataSplit = date.split("-");
	year = dataSplit[0];
	month = dataSplit[1]-1; //odejmij jeden bo js zapisuje miesiac o-11
	day =  dataSplit[2];

	nowaData = new Date(year, month, day);

	return nowaData;
};


function jsDataIntoRuby(data) {

	day = data.getDate();	//Get the day as a number (1-31)
	month = data.getMonth()+1;	//Get the month (0-11), dodaj 1 aby otrzymac miesiac
	year = data.getFullYear();	//Get the four digit year (yyyy)
	nowaData = year + "-" + month + "-" + day;
	return nowaData;

}

//Przesuwa date kalendarza o ustalona liczbe dni
kalendarz.prototype.przesunDate = function(przesunDni) {
	date = this.pierwszyDzienKalendarza(); // $("#PoprzedniTydzien").attr("data-date");

	console.log("this.pierwszyDzienKalendarza");
	console.log(this.pierwszyDzienKalendarza());

	nowaData =rubyDataIntoJS(date);

	//dodaj dni
	nowaData.setDate(nowaData.getDate() + przesunDni)
	console.log("nowaData");	
	console.log(nowaData);


	//ustaw wartości na strzałkach wskazujacych nowy i poprzedni tydzien
	//////////////////////////////////////////////////////////
	nastepnyPon = nowaData;
	nastepnyPon = jsDataIntoRuby(nastepnyPon);
	console.log("przesuniety o tydzien nastepnyPon");
	console.log(nastepnyPon);


	nastepnaNiedz = new Date(nowaData.valueOf() );
	nastepnaNiedz.setDate(nastepnaNiedz.getDate() + 6);
	nastepnaNiedz = jsDataIntoRuby(nastepnaNiedz);
	console.log("przesunięta nastepnaNiedz");
	console.log(nastepnaNiedz);

	$("#PoprzedniTydzien").attr("data-date", nastepnyPon);
	$("#NastepnyTydzien").attr("data-date", nastepnaNiedz);

	//ustaw pierwszy dzien ktory bedzie wyswietlany w kalendarzu
	this.pierwszyDzienKalendarza.UstawDzien(nastepnyPon);
	//////////////////////////////////////////////////////////	
}

kalendarz.prototype.nastepnyTydzien = function() {
	this.przesunDate(7);
}


kalendarz.prototype.poprzedniTydzien = function() {
	this.przesunDate(-7);
}

kalendarzStrony = new kalendarz();

kalendarzStrony.nastepnyTydzien();
// console.log( $("#PoprzedniTydzien").attr("data-date") );
