console.log("test");

// $("#"+"<%= @specjalizacja.nazwa_specjalizacji %>").after("<ul>"
// 	+'<% @specjalizacja.lekarzs.each do |lekarz| %>'
// 	+"<li>"+"<%= lekarz.imie %>"+" "+ "<%= lekarz.nazwisko %>" +"</li>"+"</br>"
// 	+'<% end %>'
// 	+"</ul>");
console.log("specjalizacja: ");
console.log("<%= @specjalizacja.to_json %>");
console.log("<%= @specjalizacja.nazwa_specjalizacji %>");
console.log("<%= @specjalizacja.id %>");
console.log("<%= @lekarze.to_json %>");
//element ktory pokazuje lekarzy danej specjalizacji

buttons_lekarzy ="<div>"
	+"<ul>"
	+'<% @specjalizacja.lekarzs.each do |lekarz| %>'
	+"<il>"
    +'<%= button_to(lekarz.imie+' '+lekarz.nazwisko, { id: lekarz.id.to_s, remote: true,  }, { class: " btn btn-primary  btn-block przycisk_lekarza", data: { lekarzid: lekarz.id }} ) %>'
    +"</il>"
	+'<% end %>'
	+"</ul>" ;


console.log("test wizyty: ");
console.log("<%= @wizyty.to_s.to_json %>");
console.log("<%= @wizyty_data.to_s %>");
console.log("<%= @wizyty_godzina.to_json %>");

//Wyczysc html zawiarajace spis lekarzy
$(".przycisk_specjalizacji").next().html("");

//wyswietl lekarzy danej specjalizacji
$("#"+"<%= @specjalizacja.nazwa_specjalizacji %>").next().html(buttons_lekarzy);	



kalendarzStrony = new kalendarz();


