console.log("test");

// $("#"+"<%= @specjalizacja.nazwa_specjalizacji %>").after("<ul>"
// 	+'<% @specjalizacja.lekarzs.each do |lekarz| %>'
// 	+"<li>"+"<%= lekarz.imie %>"+" "+ "<%= lekarz.nazwisko %>" +"</li>"+"</br>"
// 	+'<% end %>'
// 	+"</ul>");
console.log("<%= @specjalizacja.nazwa_specjalizacji %>")

//element ktory pokazuje lekarzy danej specjalizacji
buttons_lekarzy ="<ul>"
	+'<% @specjalizacja.lekarzs.each do |lekarz| %>'
	+"<il>"
    +'<%= submit_tag(lekarz.imie+' '+lekarz.nazwisko, class: " btn btn-primary  btn-block") %>'
    +"</il>"
	+'<% end %>'
	+"</ul>"

//Wyczysc html zawiarajace spis lekarzy
$(".przycisk_lekarza").next().html("");

//wyswietl lekarzy danej specjalizacji
$("#"+"<%= @specjalizacja.nazwa_specjalizacji %>").next().html(buttons_lekarzy);	
// $("#test_pisanie").html(buttons_lekarzy);
// $("#test_pisanie").html('<%= @lekarze %>');


////////////////////////////////
//Oblsuga kalendarza
//////////////////////////////

console.log("kalendarza");
// var  pierwszyDzienKalendarza = $("#pierwszyDzienKalendarza").text() ;
// console.log(pierwszyDzienKalendarza);

//Konwertuje data z formatu ruby (2016-01-17) na date w formacie JS
function rubyDataIntoJS(data) {
	dataSplit = data.split("-");
	year = dataSplit[0];
	month = dataSplit[1]-1; //odejmij jeden bo js zapisuje miesiac o-11
	day =  dataSplit[2];

	nowaData = new Date(year, month, day);

	return nowaData;
};

rubyDataIntoJS.prototype.splitData = function(data) {
	dataSplit = data.split("-");
	year = dataSplit[0];
	month = dataSplit[1]-1; //odejmij jeden bo js zapisuje miesiac o-11
	day =  dataSplit[2];	

	nowaData = {year: year, month: month, day: day};

	return nowaData;
}


function jsDataIntoRuby(data) {

	day = data.getDate();	//Get the day as a number (1-31)
	month = data.getMonth()+1;	//Get the month (0-11), dodaj 1 aby otrzymac miesiac
	year = data.getFullYear();	//Get the four digit year (yyyy)
	nowaData = year + "-" + month + "-" + day;
	return nowaData;

}



//Obsluga kalendarza
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function kalendarz() {
	this.miesiaceOdmiana = [ "stycznia", "lutego", "marca","kwietnia", "maja", "czerwica", "lipca", "sierpnia", "wrzesnia", "października", "listopada", "grudnia" ];
	this.godziny =(function(a,b){while(a--)b[a]=a+7;return b})(11,[]);
	this.ustawOnlick();
	this.wypelnijKalendarz();

	this.pusta_komorka = "<p>-- </p>";

}
//funkcja odpowiada za pobranie danych ktore ustawiaja pierwszy dzien kalendarza
function pierwszyDzienKalendarza() {
	return $("#pierwszyDzienKalendarza").text();
}

pierwszyDzienKalendarza.UstawDzien = function(nowaData) {
	$("#pierwszyDzienKalendarza").text( nowaData );
}


kalendarz.prototype.pierwszyDzienKalendarza = pierwszyDzienKalendarza;

//ustawia duzy napis u gory kalendarza pomiedzy strzalkami przechodzenia na nowy tydzien
kalendarz.prototype.ustawNaglowekDaty = function(text) {
	$("#naglowek_kal_daty").text(text);
}

//IN: 2016-01-05 - funkcja pobiera date w formie YYYY-MM-DD
//Out 5 stycznia - funckaj zwraca date w formacie cyfrowym
kalendarz.prototype.wyswietlTekstoweDaty = function(data) {
	nowaData = rubyDataIntoJS.prototype.splitData(data);
	miesiac = this.miesiaceOdmiana[ nowaData['month'] ];
	dzien = nowaData['day'];

	dataText = dzien + " " + miesiac;

	return dataText;
}

kalendarz.prototype.wyswietlDaty = function(data1, data2) {
	//konwertuj daty na text
	dataText1 = this.wyswietlTekstoweDaty(data1);
	dataText2 = this.wyswietlTekstoweDaty(data2);

	//polacz w jeden string
	text = dataText1 +" - " +dataText2;

	//wyswietl na kalendarzu
	this.ustawNaglowekDaty(text);
}

//Przesuwa date kalendarza o ustalona liczbe dni
kalendarz.prototype.przesunDate = function(przesunDni) {
	date = this.pierwszyDzienKalendarza(); // $("#PoprzedniTydzien").attr("data-date");

	console.log("pierwszyDzienKalendarza");
	console.log(this.pierwszyDzienKalendarza());

	nowaData =rubyDataIntoJS(date);

	//dodaj dni
	nowaData.setDate(nowaData.getDate() + przesunDni)
	console.log("nowaData");	
	console.log(nowaData);


	//ustaw wartości na strzałkach wskazujacych nowy i poprzedni tydzien
	//////////////////////////////////////////////////////////
	nastepnyPon = nowaData;
	nastepnyPon = jsDataIntoRuby(nastepnyPon);
	console.log("przesuniety o tydzien nastepnyPon");
	console.log(nastepnyPon);


	nastepnaNiedz = new Date(nowaData.valueOf() );
	nastepnaNiedz.setDate(nastepnaNiedz.getDate() + 6);
	nastepnaNiedz = jsDataIntoRuby(nastepnaNiedz);
	console.log("przesunięta nastepnaNiedz");
	console.log(nastepnaNiedz);

	$("#PoprzedniTydzien").attr("data-date", nastepnyPon);
	$("#NastepnyTydzien").attr("data-date", nastepnaNiedz);

	//ustaw pierwszy dzien ktory bedzie wyswietlany w kalendarzu
	this.pierwszyDzienKalendarza.UstawDzien(nastepnyPon);

	this.wyswietlDaty(nastepnyPon, nastepnaNiedz);
	//////////////////////////////////////////////////////////	
}

kalendarz.prototype.nastepnyTydzien = function() {
	this.przesunDate(7);
}


kalendarz.prototype.poprzedniTydzien = function() {
	this.przesunDate(-7);
}

kalendarz.prototype.ustawOnlick = function() {
	console.log("OnClick");
	tenKalendarz = this;

	//przesun date tydzien do przodu gdy klikam przycisk od id="NastepnyTydzien"
	$("#NastepnyTydzien").click( function(){
    	tenKalendarz.nastepnyTydzien();
	});

	//przesun date tydzien do tylu gdy klikam przycisk od id="PoprzedniTydzien"
	$("#PoprzedniTydzien").click( function(){
    	tenKalendarz.poprzedniTydzien();
	});


	//Funkcja wypełnia kalendarz zaznaczonymi wizytami, wolnymi wizytami, 
	// -- oznacza ze to miniony dzien
	// X - zajeta godzina wizyty
	// kwadrat - wolne miejsce
	kalendarz.prototype.wypelnijKalendarz = function() {
		//wypelnij minione dni znakiem "--"
		t = new Date;
		dzienTyg = t.getDay();
		console.log("wypelnijKalendarz");
		console.log(dzienTyg);
		for (index = dzienTyg; index > 0; --index) {
    				console.log(index);
    				console.log( this.godziny );

    				this.godziny.forEach(function(godzina) {
					    console.log(godzina);
					    id_dnia = "godz" + godzina + "dzien"+index
					    console.log(id_dnia);
					    $( "#"+id_dnia ).html( "<p>-- </p>" );
					});
		}
	}

}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


kalendarzStrony = new kalendarz();

