<% provide(:title, 'Zarejestruj wizytę ') %>

<div class="container">
<h1>
	Zarejestruj wizyte u lekarza
</h1>

	<%= render 'info_pacjent_wizyta' %>

	
<% @specjalizacje.each do |s| %>
	<%= form_tag( {:controller => "zarejestruj_wizyte", :action => "create", :method => "post"} , { :remote => true } ) do %>
  	<div><%= hidden_field_tag :specjalizacja_id,  s.id  %></div>
  		
  		<%= submit_tag(s.nazwa_specjalizacji, class: " btn btn-default  btn-block przycisk_specjalizacji", id: s.nazwa_specjalizacji ) %>
  		<div></div>
	<% end %>
<% end %>

<div id="wybor_lekarza">
<%= render 'kalendarz' %>
</div>


<%= content_tag :div, class: "temp_information", data: {temp: @temp} do %>
<% end %>


</div>
