<% provide(:title, 'Zaloguj się') %>
<h1>Zaloguj się</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= form_for(:session, url: zaloguj_path) do |f| %>


      <%= f.label :pesel %><br>
      <%= f.text_field :pesel, class: "form-control" %><br>

      <%= f.label :haslo %><br>
      <%= f.password_field :password, class: "form-control" %><br>

      <%= f.submit "Zaloguj się", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>